<div align ="center" class="container">
<h2>Songs matching "<%= @search %>":</h2>
<br>
<br>
<ul>
<% @songs.each do |song| %>
  <%= song.name %> by <%= song.artists.first.name %>
  <%= form_for [@user, @playlist, @song], as: :song do |f| %>
    <%= f.hidden_field :track_url, :value => song.id %>
    <br>
    <%= f.submit "Add song!", class: "btn btn-primary" %>
  <% end %>
  <br>
  <br>
<% end %>
</ul>
</div>